@font-face {
  font-family: 'Rockwell';
  font-style: normal;
  font-weight: 400;
  src: local('Rockwell'), url('./Fonts/ROCK.TTF'); 
}


body {
  background: radial-gradient(#9198e5, #FF8C00);
  background-repeat: no-repeat;
  height: 100%;
}

html {
  height: 100%;
  font-family: 'Rockwell' !important;
}

body > #root  {
  height: 100vh;
}

