.room {
    height: 141px;
    width: 141px;
    background: url('../../Images/room.png') no-repeat ;
    background-size: 140px 140px;
    text-align: center;
}

.name {
    position: absolute;
    padding: 0px;
}

.suggestionModal {
    font-family: 'Rockwell';
    min-height: 400px;
    background-color: goldenrod;
    /* Text outline */ 
    color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    font-family: "Rockwell";
}

.modalHeader {
    align-self: center;
    border-bottom: 0px solid !important;
}