.room {
    height: 141px;
    width: 141px;
    background: url('../../Images/room.png') no-repeat ;
    background-size: 140px 140px;
    text-align: center;
}

.name {
    position: absolute;
    padding: 0px;
}

