#game {
    height: 710px;
    width: 710px;
    background-color: #777;
    color: white;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
}

#updatesContainer {
    min-height: 260px;
    width: 100%;
    align-items: center;
    color: white;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
    font-size: 20px;
    background-color: #777;
}

#cardsHeader {
    color: white;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
    font-size: 25px;
}

#turnIndicator {
    color: white;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
    font-size: 35px;
}

.actionButton {
    width: 100%;
    background-color: #777;
    padding: 10px;
    font-size: 20px;
    height: 50px;
    color: white;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
}

#cards {
    /* Make sure (height + margin-top) == 400 is true! */
    height: 375px; 
    margin-top: 25px !important;
}

.playerCard {
    height: 160px;
    width: 120px;
    margin-bottom: 15px;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
    background: url('../../Images/vertical_hallway.png') no-repeat ;
    background-position: 66% 50%;
    background-size: 120px 160px;

}



#gamePageContainer {
    margin: 3%;
    min-width: 1800px;
}

.suggestionModal {
    min-height: 400px;
    background-color: goldenrod;
}

.secondarySuggestionModal {
    background-color: goldenrod;
}

.accusationModal {
    min-height: 400px;
    background-color: goldenrod;
}

.modalHeader {
    /* Text outline */ 
    color: black;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: white;
    align-self: center;
    border-bottom: 0px solid !important;
}

.modalFooterButtons {
    color: black;
    -webkit-text-stroke-width: 0px;
    -webkit-text-stroke-color: white;
}

.carouselItem {
    max-height: 60px;
    text-align: center;
        /* Text outline */ 
    color: black;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: white;
    font-size: 30px;
    padding-top: 9px
}

.secondarySuggestionInstructions {
    /* Text outline */ 
    color: black;
    font-size: 20px;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: white;
    display: flex;
    justify-content: center;
    padding-bottom: 15px;
} 

.gameWonModal, .gameLostModal {
    background-color: goldenrod;
    padding-top: 35px;
}

.finalText {
    font-size: 60px
}