  #pageContainer {
    top: 20%;
    max-width: 100%;
    position: absolute;
  }
  
  .startButton {
    width: 400px;
    height: 80px;
    border-color: lime !important;
    border-width: 2px !important;
    display: inline-flex;
    align-items: center; 
    padding: 14px !important;
    margin: 20px;
  }
  
  .startText {
    font-size: 40px;
    color: white !important;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    font-family: 'Rockwell' !important;
    position: relative;
    top: 13px;
  }
  
  .title {
    font-family: 'Rockwell' !important;
    font-size: 3.5rem;
    color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
  
  }
  
  .row {
   margin-top: 60px;
  }
